/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 21, 2017, 9:53:59 AM
    Author     : Simona
*/

.staff-th {
        min-width: 115px;
    }


.SS-staff-img {
    max-height: 220px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: #f7f7fb solid 10px;
    border-radius: 10px;
}

.center { text-align: center;}
.bold { font-weight: bold;}
.light-grey {color: #c1c4c5; }
.grey {color: #898e8f; }

.modal-staff {
    font-family: 'Open Sans', sans-serif;
}

.modal-staff-name {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
}

.modal-staff-role {
    text-align: center;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 14px;
}

.modal-staff-tab-title {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 12px;
}

.modal-staff-tab-content {
    text-align: center;
    margin: 0px;
    font-size: 16px;
}

.modal-staff-phone {
    text-align: center;
    width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.modal-staff-phone-title {
    margin-bottom: 5px;
}

.modal-staff-phone-num {
    background-color: #3CDAB2;
    padding: 10px 20px;
    text-align: center;
    color: white;
}

#modal-staff-more {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

#modal-staff-more:hover, #modal-staff-more:active {
    color: #3CDAB2;
    transition: all 0.3s ease;
}
#staff-table-publikace {
    display: none;
    font-size: 12px;
    text-align: center;
    color: #898e8f;
    width: 100%;
}

.staff-table-publikace-head {
    text-align: center;
    font-size: 14px;
    color: #5e6060;
    padding: 2px;
}

th, td {
    padding: 5px;
}

.staff-filter {
    margin: 10px 0 30px 0;
    
}

.staff-table-th1 {
    width: 28%;
}

.staff-table-th2 {
    width: 8%;
}

.staff-table-th3 {
    width: 9%;
}

.staff-table-th4 {
    width: 10%;
}

.staff-table-th5 {
    width: 10%;
}

.staff-table-th6 {
    width: 35%;
}

.staff-icon-plus {
    padding-right: 8px;
    cursor: pointer;
    color: #00BC8D;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: medium;
    margin-top: 30px;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

input {
    width: 100%;
}

@media all and (max-width: 424px) {
    .modal-staff-phone {
        width: 240px;
    }
}
