.content-body {
	margin-bottom: 200px;
}

.hp-events {
	padding: 40px 0;
	background-color: #f5f5f5;
	&__datepicker {
		.ui-datepicker {
			border: none !important;
			padding: 0 !important;
		}
		.ui-state-default {
			border: none !important;
			background-color: transparent !important;
		}
	}
	h4 {
		text-transform: unset;
	    font-weight: bold;
	    text-align: center;
	    margin-bottom: 20px;
	}
}