.content-body {
	margin-bottom: 200px;
}

.hp-events {
	padding: 40px 0;
	background-color: #f5f5f5;
	&__datepicker {
		.ui-datepicker {
			border: none !important;
			padding: 0 !important;
		}
		.ui-state-default {
			border: none !important;
			background-color: transparent !important;
		}
	}
	h4 {
		text-transform: unset;
	    font-weight: bold;
	    text-align: center;
	    margin-bottom: 20px;
	}
	&__list {
		margin-top: 50px;
		h4, h4>a {
			color: #0a61bc;
			font-size: 16px;
		    text-align: left;
		    margin-bottom: 4px;
		    margin-top: 24px;
		}
		i {
			font-size: 14px;
    		margin-left: 10px;
		}
	}
	&__day {
		a {
			color: #0a61bc;
		}
	}
	@media screen and (max-width: 767px) {
        padding: 15px 0;
        h4 {
        	font-size: 16px;
        }
        &__list {
			margin-top: 20px;
			text-align: center;
			h4, h4>a {
				font-size: 14px;
				text-align: center;
				margin-top: 15px;
			}
		}
    }
}

.ui-tooltip, .arrow:after {
    background: black !important;
  }
.ui-tooltip {
 color: white;
 font-size: 12px;
}
.ui-widget-shadow {
	opacity: 1;
	border-radius: 2px;
	box-shadow: none;
}
