.sectContent{
    text-align: justify;
}
.sectText{
    margin-top: 30px;
    margin-bottom: 30px;
}
.bold{
    font-weight: bold;
}
.sectText2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.ustavTitle{
    width: 100%;
    color: white;
    background-color: rgb(10, 97, 188);
    /*font-size: 18px;*/
    padding: 10px;
    font-weight: bold;
}

.sectContent h5 {
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 20px;
}
.sectContent ul {
    margin-bottom: 40px;
}
.sectContent img {
    max-height: 210px;
    display: inline-block;
    margin-bottom: 40px;
}