#history, #hoi, #departments{
    padding: 3px 50px 10px 50px;
}
#department1, #department2, #department3, #department4{
    padding: 3px 20px 10px 20px;
}
.sectionH2{
    padding-top: 100px;
}
#sectContent1, #sectContent2, #sectContent3{
    padding-bottom: 100px;
}
#secH32, #secH33, #secH34{
    padding-top: 100px;
}
#secH31{
    padding-top: 20px;
}