.gallery img{
    width: 250px;
    height: 180px;
}

.gallery{
    text-align: center;
}

.gallery-row{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    max-height: 300px;
    padding: 30px 0;
    margin-bottom: 60px;
    margin-top: 20px;
}

.gallery-row img{
    margin: 0 8px;
    display: inline-block;
    width: 280px;
    float: none;
}

/*============== GALERY =============*/

/*
 *  STYLE 13
 */

.style-13::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(50,50,50,0.3);
    border-radius: 10px;
    background-color: rgba(50,50,50,0.3);
}

.style-13::-webkit-scrollbar
{
    width: 5px;
    height: 8px;
    background-color: white;
}

.style-13::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgb(255, 212, 70);
    background-image: -webkit-linear-gradient(90deg,
    transparent,
    rgba(255, 255, 255, 0.4) 50%,
    transparent,
    transparent)
}

img.hover-shadow {
    transition: 0.6s;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(255, 212, 70, 0.2), 0 6px 20px 0 rgba(255, 212, 70, 0.19);
}

.hover-shadow:hover {
    -moz-box-shadow: 0 4px 8px 0 rgba(255, 212, 70, 0.2), 0 6px 20px 0 rgba(255, 212, 70, 0.19), 0 0 56px -2px rgba(255, 212, 70,0.5);
    -webkit-box-shadow: 0 4px 8px 0 rgba(255, 212, 70, 0.2), 0 6px 20px 0 rgba(255, 212, 70, 0.19), 0 0 56px -2px rgba(255, 212, 70,0.5);
    box-shadow: 0 4px 8px 0 rgba(255, 212, 70, 0.2), 0 6px 20px 0 rgba(255, 212, 70, 0.19), 0 0 56px -2px rgba(255, 212, 70,0.5);
}

.soflow{
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    /*margin: 20px;*/
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}

#links a{
    text-decoration: none;
    cursor: pointer;
}

.button{
    text-decoration: none;
    background-color: rgb(255, 212, 70);
    color: #777;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 20px;
    float: left;
}

.button i{
    margin-right: 10px;
}

.panel{
    padding-bottom: 35px;
    margin-bottom: 15px;
    box-shadow: none;
}

.panel2{
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.video{
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(30,30,30,0.2);
    font-weight: bold;
}

.video i{
    margin: 0 5px;
}

.video-btn{
    color: white;
    background-color: rgba(255,0,0,0.8);
    border-radius: 5px;
    margin-right: 20px;
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
    -webkit-transform: translate(0,50%) !important;
    -ms-transform: translate(0,50%) !important;
    -o-transform: translate(0,50%) !important;
    transform: translate(0,50%) !important;
}

.modal-body {
    position:relative;
    padding:0px;
}
.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
}

.title-media {
    display: inline-block;
}


.delete-photo{
    color: white;
    position: absolute;
    bottom: 0;
    left: 10%;
    background-color: rgba(0,0,0,0.6);
    width: 80%;
}

.delete-photo:hover{
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: white;
}