.hlNadpis {
display:inline-block;
margin-right:10px;
}

.addButton {
    display:inline-block;
    float: right;
    margin-top: 25px;
}
.flip h4{
    margin-bottom: 0px;
}

.panel{
    display:none;
    margin-top: 5px;
    margin-bottom: 10px;
}

.cursor {
    cursor: pointer;
}

.contentHeaders {

}