html {
    position: relative;
    height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif !important;
    min-height: 100%;
}
#navbar-custom{
    height: 80px;
}
#navbar-custom {
    background-color: rgb(10, 97, 188);
    border-color: rgb(10, 97, 188);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#emNavbar{
    margin-top: 13px;
    position: relative;
    z-index: 10;
}
#navbarContainer{
    padding-left: 0;
    padding-right: 0;
}
.navbar{
    margin-bottom: 0 !important;
}
.navbar-default .navbar-collapse{
    border-color: rgb(153,153,153) !important;
    background-color: rgb(10, 97, 188);
    /*    max-height: 50px;*/
}
.navbar-default .navbar-toggle{
    border-color: transparent !important;
    margin-top: 25px;
}
/*div#emNavbar.navbar-collapse.collapse.in{
    background-color: rgb(255, 226, 130) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: rgb(10, 97, 188) !important;
}
.dropdown-menu .divider{
    background-color: rgb(200,200,200) !important;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-default .navbar-nav > li > a:focus {
    color: #ababab;;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu, .dropdown-submenu:focus>.dropdown-menu {
    display: block;
}

.dropdown-submenu:hover>a:after, .dropdown-submenu:focus>a:after{
    border-left-color: #fff;
}

.dropdown-submenu.pull-right {
    float: none;
}

.dropdown-submenu.pull-right>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.submenuItem{
    margin-right: -190px !important;
    margin-top: 20px;
}
.submenuItem2{
    margin-right: -157px !important;
    margin-top: 20px;
}
.submenuItem3{
    margin-right: -493px !important;
    margin-top: 20px;
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
    .navbarItem{
        padding: 3px !important;
    }
    #logoIMG{
        width: 100px;
    }
    #navbar-custom{
        height: 65px;
    }
    .navbar-default .navbar-toggle{
        border-color: transparent !important;
        margin-top: 15px;
    }
    #emNavbar{
        margin-top: 3px;
    }
    .question, .answers{
        margin: 0;
        padding: 0;
    }
    .bpStudy, .ingStudy{
        margin: 0;
    }


}
@media screen and (max-device-width: 640px) and (min-device-width: 480px){
    .navbarItem{
        padding: 3px !important;
        font-size: 8px;
    }
    #logoIMG{
        width: 100px;
    }
    #navbar-custom{
        height: 62px;
    }
    .navbar-default .navbar-toggle{
        border-color: transparent !important;
        margin-top: 15px;
    }
    #emNavbar{
        margin-top: 3px;
    }
}
hr {
    border-top: 1px dashed #e5e5e5 !important;
    border-bottom: 1px dashed #fff !important;
}
h1{
    color: rgb(85,85,85) !important;
}
ul.nav.navbar-nav.navbar-right.scrollable-menu{
    margin-left: 20px;
}

.submenuItem3{
    margin-right: -492px !important;
    margin-top: 20px;
}
.submenuItem4{
    margin-right: -510px !important;
    margin-top: 20px;
}
.submenuItem5{
    margin-right: -160px !important;
    margin-top: 20px;
}
@media print
{
    .footer{
        display: none;
    }
}

.ib-highlited{
    color: #acc1d9;
}
.navbar-header {
    position: relative;
    z-index: 10000;
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .navbar > .container {
        width: 100% !important;
        margin-right: unset;
        margin-left: unset;
        padding-right: unset !important;
        padding-left: unset !important;
    }
}

.logo-lg {
    width: 167px;
}

@media screen and (min-width: 991px) and (max-width: 1199px){
    .logo-lg {
        width: 130px;
        margin-left: 15px;
    }
    ul.nav.navbar-nav.navbar-right.scrollable-menu {
        margin-left: unset;
    }
}

@media screen and (max-width: 991px) {
    .logo-lg {
        width: 167px;
    }
    #emNavbar{
        margin-top: 10px;
    }
    #collapsedButton{
        margin-right: 30px;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
         background-color: #9f9f9f;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .logo-lg {
        margin-left: 15px;
    }
    .container > .navbar-collapse {
        margin-right: unset;
        margin-left: unset;
    }

}
@media screen and (max-width: 992px) {
    .logo-lg{
        margin-left: 15px;
    }
}
.navbar-default .navbar-toggle {
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

@media screen and (max-width: 991px) {
    .dropdown.open .dropdown-menu {
        padding-left: 15px;
    }
}

/*---------------------------*/
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #ababab;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}
.intra-div h2{
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 60px;
}
.btn.btn-primary{
    background-color: rgb(10, 97, 188);
}
.btn.btn-primary:hover{
    background-color: rgb(10, 73, 145);
}
.intra-div .btn-back {
    position: absolute;
    top: 60px;
}
.btn-center{
    text-align: center;
}
.note{
    margin: 50px 0;
    padding: 25px 0;
    border-top: 1px solid #DCDCDC;
}
.note > p{
    font-size: 12px;
}
.note>h5 {
    font-weight: bold;
    margin-bottom: 20px;
}
.table > tbody > tr > td{
    vertical-align: middle;
}
.lastButton{
    margin-bottom: 50px;
}
/*---------projects--------*/

.pCol1{
    width: 55%;
}
.pCol2{
    width: 10%;
}
.pCol3{
    width: 20%;
}
.pCol4{
    width: 15%;
}
.pSubTitle{
    font-size: 20px;
}
.required{
    font-size: 12px;
    color:red;
    display: none;
}
/*----------aktuality----------------*/
.expired{
    color: rgb(211, 74, 74) !important;
    font-weight: bold;
    /*font-style: italic;*/
}
.current{
    color: rgb(85, 176, 87) !important;
    font-weight: bold;
}
/*-----------staff------------*/
.perms{
    display: inline-block;
    margin-right: 20px;
}
