.bpStudy, .ingStudy{
    margin: 40px;
}
.answers{
    margin: 20px 40px 40px 40px;
}
.question{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}
.fa-check-circle-o, .fa-briefcase, .fa-list-alt, .fa-cd, .fa-arrow-circle-o-down, .fa-arrow-circle-o-up, .fa-car, .fa-desktop .fa-microchip{
    font-size: 20px;
    margin-right: 5px;
    color: rgb(10,87,188);
}
span.fa.fa-microchip, span.fa.fa-desktop{
    color: rgb(10,87,188);
}
.fa-arrow-circle-o-down, .fa-arrow-circle-o-up{
    font-size: 30px;
}
.jumbotron p{
    font-size: 16px !important;
}
#btnTogStudProgram, #btnTogPVPe, #btnTogPVPa, #btnTogPVPi{
    float: right;
    margin-top: 20px !important;
}
#btnBp1, #btnBp2, #btnBp3, #btnDp1, #btnDp2, #btnDp3, #btnDp4, #btnAvArr{
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
#btnTogBP1, #btnTogBP2, #btnTogBZP, #btnTogDZP, #btnTogDP1, #btnTogDP2, #btnTogDP3, #btnAv{
    background-color: rgb(10,87,188);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hrStudy{
    background-color: rgb(10,87,188);
}
.line{
    display: inline-flex;
}
#btnTogPVPe{
    margin-left: 35px;
}
#btnTogPVPa{
    margin-left: 34px;
}
#btnTogPVPi{
    margin-left: 31px;
}
.nazovPVP{
    margin-top: 20px;
}
.fa-menu-down{
    font-size: 10px;
    padding-left: 5px;
}
.tableStudy{
    margin-top: 50px;
}
.generalInfo, .generalInfoContent, .bpPraceContent{
    margin-left: 40px;
}
.hStudy{
    margin-bottom: 40px !important;
}
.hKoniec{
    margin: 40px;
}
#SIMKA{
    color: red;
}
.generalInfo, .bpPrace, .dpPrace, .dpPraceContent{
    margin: 40px;
}
.h3Study{
    margin-bottom: 20px;
}
.sectionH2{
    padding-top: 100px;
}
.themes-here {
    color: rgb(10,87,188);
    text-decoration: underline;
    font-size: 25px;
}
@media screen and (max-device-width: 767px) and (orientation: portrait) {
    .jumbotron{
        font-size: 10px;
    }
    .generalInfoContent, .bpPraceContent, .hKoniecDiv, .hKoniec{
        margin: 0;
        padding: 0;
    }
    .sectionH2{
        padding-top: 20px;
    }
}
.doplnit{
    /*color: red;*/
}
@media screen and (max-device-width: 640px){
    #btnTogStudProgram, #btnTogPVPe, #btnTogPVPa, #btnTogPVPi{
        float: right;
        margin-top: 0 !important;
    }
}
.bold{
    font-weight: bold;
}
.freeTopics{
    margin-top: 20px;
}
.showInline{
    display: inline;
}
/*/--------------------------------------------------------/*/
.category{
    color: white;
    background-color: rgba(10, 97, 188, 0.8);
}
.fa.fa-search-plus.themes-icon-plus{
    color: rgb(10,87,188);
    margin-right: 10px;
}
.fa.fa-arrow-left{
    color: white;
    margin-right: 10px;
}
#goBackBtn{
    color: white;
    background-color: rgba(10, 97, 188, 0.8);
}
#goBackBtn:hover{
    background-color: rgb(10, 97, 188);
}
/*#emPAGEcontent{*/
    /*margin-bottom: 300px;*/
/*}*/
.filterLabel {
    color: #bbbbbb;
    font-weight: 100;
    font-size: 12px;
    margin-left: 20px;
}
#ustavSelect, #programSelect, #inputFind{
    margin-left: 5px;
}
#thesisFilter{
    margin-top: 20px;
}
#thesisBtn{
    margin-bottom: 100px;
}
.anotacia{
    padding: 20px 0 20px 20px;
    text-align: justify;
    font-style: italic;
}
.m{
    cursor: pointer;
}
.loaded{
    display: none;
}
.loading{
    margin-top: 50px;
}
.nothing{
    display: none;
    margin-top: 30px;
    margin-bottom: 30px;
}
.thesisTitle{
    display: inline;
}
.hover:hover{
    cursor: pointer;
}