.center { text-align: center;}
.bold { font-weight: bold;}
.light-grey {color: #c1c4c5; }
.grey {color: #898e8f; }

body {
    padding-right: 0 !important;
}
h2 {
    text-align: right;
    text-transform: uppercase;
    color: white;
    font-size: medium;
    margin-top: 30px;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

hr {
    border-top: 1px dashed #e5e5e5;
    border-bottom: 1px dashed #fff;
}

.projects-table-th1 {
    width: 10%;
}

.projects-table-th2 {
    width: 45%;
}

.projects-table-th3 {
    width: 15%;
}

.projects-table-th4 {
    width: 30%;
}

.modal-header {
    border: none;
    padding-bottom: 0;
}

@media all and (max-width: 767px) {
    .modal-project-title {
        font-size: 18px;
    }
    
    .modal-project-subtitle {
        margin: 10px 10px 15px;
    }
}
th{
    text-align: left !important;
}
.category{
    color: white;
    background-color: rgba(10, 97, 188, 0.8);
}
.column1{
    width: 11%;
}
.column2{
    width: 45%;
}
.column3{
    width: 13%;
}
.table-responsive{
    margin-bottom: 30px;
}
.defHide{
    display: none;
}
.m:hover{
    cursor: pointer;
}
.projectSubtitle{
    font-weight: bold;
    /*color: rgb(10, 97, 168);*/
    /*text-transform: uppercase;*/
    margin: 0;
    margin-top: 10px;
}
.projectText{
    margin-bottom: 20px;
}
.tableHead{
    font-size: 12px;
}
.projectTitle{
    font-weight: bold;
}