.staff {
	margin-top: 50px;
	&__table {
		color: #777777;
		text-align: center;
		margin-top: 30px !important;
		margin-bottom: 30px !important;
		@media screen and (min-width: 1200px) {
		    width: 100% !important;
		}		
	}
	&__table-row {
		transition: background-color 0.3s ease;
		transition: color 0.2s ease;
		&:nth-child(odd) {
			background-color: #f5f5f5;
		}
		i {
			color: #0A61BC;
			transition: color 0.3s ease;
		}
		&:hover {
			cursor: pointer;
			background-color: #0A61BC;
			color: #ffffff;
			i {
				color: #ffffff;
			}
		}		
		>td {
			&:first-child {
				font-weight: bold;
				text-align: left;
			}
		}
		@media screen and (max-width: 767px) {
			.sorting_1 {
				min-width: 170px;
			}
			td {
				font-size: 10px;
				&:last-child {
					min-width: 200px;
				}
			}
		}
	}
	&__table-title {
		>th {
			border: none !important;
			text-align: center;
			color: #333333;
			@media screen and (max-width: 767px) {
				font-size: 10px;
				padding: 0px 5px;
			}
		}
	}
	thead, tfoot {
		th {
			border: none;
			&:after {
				display: none !important;
			}
		}
	}
	#staff_length {
		margin: 0.5em;
		.form-control {
			margin: 0 10px;
		}
	}
	#filterbox {
		margin-right: 20px;
	}

	&__notes {
		margin: 50px 0;
		padding: 25px 0;
		border-top: 1px solid #DCDCDC;
		>h5 {
			font-weight: bold;
			margin-bottom: 20px;
		}
		>p {
			font-size: 12px;
		}
	}
	table.dataTable.no-footer {
		border-bottom-color: #ddd
	}

	&--publications {
		padding-bottom: 100px;
		padding-top: 160px;
	}
	&--hidden {
		display: none;
	}
}

.dataTables_wrapper {
	.dataTables_paginate {
		.paginate_button {
			&:hover {
				background: transparent !important;
				border-color: transparent !important;
			}
		}
	}
	label, .dataTables_info {
		color: #bbbbbb !important;
	}
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	&:active {
		background-color: transparent;
		box-shadow: unset !important;
	}
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0.5em 2px !important;
}

@media screen and (max-width: 767px) {
	 .table-responsive {
	 	border: none !important;
	}
	#staff_filter {
		float: left;
	}
	.staff #staff_length {
		margin: 0 14px;
	}
	.staff {
		margin-top: 15px;
		.dataTables_info {
			font-size: 12px;
		}
		select.input-sm {
		    height: 24px;
		    line-height: 24px;
		}
		input[type="search"] {
			height: 24px;
		    line-height: 24px;
		}
		#staff_filter, #staff_wrapper {
			label {
				font-size: 12px;
			}
		}
		div.dataTables_wrapper div.dataTables_filter {
			text-align: left;
		}
		div.dataTables_wrapper div.dataTables_length {
			text-align: left;
			margin: 0;
		}
		&__notes {
			margin: 20px 0;
    		padding: 0 15px;
		}
		.pagination > li {
			font-size: 12px;
		}
	}	
}

