.staff-publications {
	margin-top: 250px;
	padding-bottom: 100px;
	&__button {
		text-align: center;		
		>button {
			padding: 10px 20px;
			background-color: #0A61BC;
			color: #ffffff;
			border: none;
			transition: background-color 0.2s ease;
			&:hover {
				background-color: #063c73;
			}
		}
	}
	&__loading {
		text-align: center;
		img {
			margin-top: 50px;
		}
	}
}