.staff-profile {
	&__img {
		img {
			width: 100%;
		}		
	}
	&__content {
		background-color: #ffffff;
		position: absolute;
		top: 150px;
		z-index: 3;
		width: inherit;
		box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}
	&__info {
		padding: 50px 50px 0;
	}
	&__description {
		>p {
			margin-bottom: 20px;
			>span {
				width: 150px;
				display: inline-block;
				text-transform: uppercase;
				font-weight: bold;
			}
		}
	}
	&__role {
		font-style: italic;
	}
	&__back {
		color: #0A61BC;
		transition: color 0.2s ease;
		>i {
			margin-right: 10px;
			transition: margin-left 0.2s ease;
		}
		&:hover {
			text-decoration: unset;
			color: #063c73;
			>i {
				margin-left: -5px;
			}
		}
	}
	&__contact {
		width: 100%;
		background-color: #0A61BC;
		height: 60px;
		margin-top: 60px;
		position: relative;
	}
	&__links {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		>a {
			color: #ffffff;
			transition: color 0.2s ease;
			>i {
				font-size: 24px;
				color: #ffffff;
				padding: 0 10px 0 30px;
				text-decoration: none;
			}
			&:hover {
				text-decoration: none;
				color: rgba(#ffffff, 0.7);
				>i {
					color: rgba(#ffffff, 0.7);
				}
			}
		}
	}
}